.wrapper {
	display: grid;
	grid-template-columns: auto 230px minmax(320px, 1200px) auto;
	height: 100vh;
	gap: 40px 30px;
	grid-template-areas: 
	". header header ."
	". sidebar main ."
	"footer footer footer footer";
	grid-template-rows: auto 1fr auto;
}

.header {
	grid-area: header;
	display: none;
}

.sidebar {
	grid-area: sidebar;
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
}

@media (max-width: 765px) {
	.header {
		display: block;
	}
	.sidebar {
		display: none;
	}
	.wrapper {
		display: grid;
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			"header"
			"main"
			"footer";
		}
	.main {
		padding: 15px;
	}
}